{% macro section() %}
<aside 
  aria-label="Related articles" 
  class="py-12 lg:py-20 bg-background-alt border-t border-border"
  >
  <div class="px-10 mx-auto max-w-screen-xl">
    <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">
      Related articles
    </h2>

    <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
      {% for _ in range(end=4) %}
      {{ 
         related::article(
           img="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-2.png",
           img_alt="TODO",
           title="Doing the thing well", 
           desc="Lorem ipsum dolor sit amet", 
           read_time="1m",
         ) 
      }}
      {% endfor %}
    </div>
  </div>
</aside>
{% endmacro %}

{% macro article(img, img_alt, title, desc, read_time) %}
  <article class="max-w-xs">
    <a href="#">
    <img src="{{ img }}" class="mb-5 rounded-lg" alt="{{ img_alt }}">
    </a>
    <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
    <a href="#">{{ title }}</a>
    </h2>
    <p class="mb-4 text-gray-500 dark:text-gray-400">
      {{ desc }}
    </p>
    <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
      Read in {{ read_time }}
    </a>
  </article>
{% endmacro %}
