{% extends "page.html" %}

{% block content %}
  {% if not page and section %}
    {% set page = section %}
  {% endif %}

  {% set links = page.extra.links | default(value=[]) %}
  {% if page.toc and page.extra.toc | default(value=true) %}
    {% set toc = page.toc %}
  {% endif %}

  {# Filter out backlinks from the same page, ie. anchor links #}
  {%- set backlinks = [] -%}
  {%- for link in page.backlinks | default(value=[]) -%}
    {%- if link.permalink != page.permalink -%}
      {%- set backlinks = backlinks | concat(with=[link]) -%}
    {%- endif -%}
  {%- endfor -%}

  <main class="flex flex-col mx-auto container justify-center pt-16 pb-16">
    <header class="flex flex-col lg:flex-row justify-between items-center mx-auto gap-x-6">
      {% if page.extra.image %}
        <img alt="{{ page.extra.image.alt }}" src="{{ page.extra.image.src }}" class="w-36 h-36 mb-8" />
      {% endif %}

      <h1 class="text-3xl md:text-4xl lg:text-5xl font-black mb-6 lg:max-w-2xl text-left">
        {{ page.title | safe }}
      </h1>
    </header>

    <div class="flex flex-col lg:flex-row gap-y-4 lg:gap-x-6 lg:gap-y-0">
      <div class="order-1">
        <div class="format dark:format-invert lg:format-lg format-h2:pt-8 pt-2">
          {{ page.content | markdown | safe }}
        </div>
      </div>

      {% if true %}
        <div 
          class="
            flex-shrink-0 order-0 py-2 text-gray-800 text-pretty dark:text-gray-200 text-sm z-10
            lg:w-[300px] lg:order-2 lg:p-0
          ">
          <div class="lg:sticky top-16 max-h-full overflow-y-auto rounded-lg border-l border-border lg:border-0 py-4 px-6 space-y-6">
            {% if page.extra.toc | default(value=true) and page.toc %}
              <div>
                <h5 class="text-2xl font-bold pt-2">On this page</h5>
                <ul class="-space-y-2">
                  {% for h1 in page.toc %}
                    <li>
                      <a 
                        href="{{ h1.permalink | safe }}"
                        class="flex items-center p-3 rounded hover:z-10 hover:bg-gray-100 dark:hover:bg-gray-900"
                      >
                        <span>{{ h1.title }}</span>
                      </a>
                    </li>

                    {% if h1.children %}
                      <li>
                        <ul class="ml-4 -space-y-2">
                          {% for h2 in h1.children %}
                            <li>
                              <a 
                                href="{{ h2.permalink | safe }}"
                                class="flex p-3 rounded hover:z-10 hover:bg-gray-100 dark:hover:bg-gray-900"
                              >
                                <span>{{ h2.title }}</span>
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if links %}
              <div>
                <h5 class="text-2xl font-bold pt-2">Relevant links</h5>
                <ul class="-space-y-2">
                  {% for link in links %}
                    <li>
                      <a 
                        href="{{ link.url | safe }}"
                        class="flex items-center p-3 rounded hover:z-10 hover:bg-gray-100 dark:hover:bg-gray-900"
                      >
                        <span>{{ link.name }}</span>
                      </a>
                    </li>
                {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if backlinks %}
              <div>
                <h5 class="text-2xl font-bold pt-2">Backlinks</h5>
                <ul class="-space-y-2">
                  {% for link in backlinks %}
                    {% if link.permalink == page.permalink %}
                      {% continue %}
                    {% endif %}
                    <li>
                      <a 
                        href="{{ link.permalink | safe }}"
                        class="flex items-center p-3 rounded hover:z-10 hover:bg-gray-100 dark:hover:bg-gray-900"
                      >
                        <span>{{ link.title }}</span>
                      </a>
                    </li>
                {% endfor %}
                </ul>
              </div>
            {% endif %}

          </div> <!-- end sticky -->

        </div>
      {% endif %}

    </div>
  </main>
{% endblock content %}
