<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/styles.css"" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/javascript-time-ago@2.x/bundle/javascript-time-ago.js"></script>

    <title>{{ config.title }}</title>

    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }

      function toggleTheme() {
        if (localStorage.theme === 'dark') {
          localStorage.theme = 'light'
          document.documentElement.classList.remove('dark')
        } else {
          localStorage.theme = 'dark'
          document.documentElement.classList.add('dark')
        }
      }
    </script>

  </head>

  <body class="flex flex-col min-h-screen justify-start font-body relative">
    {% block page %}
    {% endblock page %}
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  <script src="https://unpkg.com/lucide@latest"></script>

  <!-- TODO: -->
  <script>lucide.createIcons();</script>
  <script src="/scripts/timeago.js"></script>
  <script>
    const navbar = document.querySelector("#sticky-navbar")
    document.addEventListener("scroll", (event) => {
      const { top } = navbar.getBoundingClientRect();
      if (top > 5) {
        navbar.classList.remove("navbar-sticky")
      } else {
        navbar.classList.add("navbar-sticky")
      }
    });
  </script>

  <script>
  </script>

</html>
